html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.accordion-button.hover-warning:hover {
    background-color: #ffc107;
    color: #000;
}

.accordion-button.hover-warning:not(.collapsed) {
    background-color: #ffc107;
    color: #000;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
    border-color: #ffca2c;
}

.accordion-button:not(.collapsed) {
    font-weight: bold;
}
