<h3 style="text-align:center">  Bienvenidos a Megatlon </h3>

<button> <a href="https://www.w3schools.com"> Asociarse</a>    </button>


<a asp-controller="Home" asp-action="registro" class="btn btn-primary">   Clientes inscriptos en planes</a>