<div class="container">
    <h1 class="text-center my-5">Preguntas Frecuentes</h1>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button hover-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					¿Necesito el apto médico para empezar a entrenar?
				</button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Tu apto médico vigente es obligatorio al momento de iniciar una actividad física.</strong
                    <p>Según la ley 139 art. 3 en decreto reglamentario Nº 1821, art. 6: (para Capital Federal) y la ley 12329 art. 9 (para la provincia de Bs. As.) es obligatorio tener el apto médico al día para ingresar a nuestras instalaciones. Una vez que lo tengas podrás enviarlo a apto.medico@sportclub.com.ar aclarando tu número de DNI.</p>
				</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed hover-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ¿Cuáles son las sedes disponibles para realizar el apto médico?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>La realización del apto médico tiene un costo adicional, el cual deberán consultar en la sede.</strong>
                    <p>Las sedes disponibles son Almagro, Beiró, Belgrano Moldes, Belgrano R, Buenos Aires Rowing, Castelar, Caza y Pesca, Colegiales, Congreso, Flores, La Plata 49, Las Palmas del Pilar, Le Parc, Libertador, Paraguay, Unicenter, Urquiza y Vicente Lopez.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed hover-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    ¿Cómo se generan los cargos en mi cuenta?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>En los planes con modalidad mensual, los cobros para cada período se realizarán 7 días antes del comienzo de cada mes de vigencia.</p>
                    <p>En los planes con modalidad anual en cuotas el cargo mes a mes lo verás en tu resumen de acuerdo a los plazos de la tarjeta que elijas.</p>
                    <p>En los casos en donde la contratación anual la realices en un solo pago, figurará en tu resumen de acuerdo al cierre de la tarjeta que hayas seleccionado.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed hover-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                   ¿Qué son y dónde se dictan las actividades outdoor?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Las actividades outdoor son Calistenia, Yoga y Boxeo. Son entrenamientos físicos de una hora al aire libre.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed hover-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    ¿Cuáles son las piletas de natación y cuáles incluye cada uno de los planes?
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>PLAN BASICO: </strong><p>Almagro, Bragado Club, Castelar, Caza y Pesca, Club Atlético Estudiantes de Paraná Sede Central, Club Banco Nación, Club Comunicaciones (con costo adicional), Congreso, Flores, GEBA, General Rodríguez, Le Parc, Monroe, Obras Paraguay, Palmas, Pehuenes Bariloche, San Andrés.</p>
                    <strong>PLAN PREMIUM: </strong><p>Incluye todas las anteriores más el acceso a Beiro, Belgrano, Belgrano R, Buenos Aires Rowing, Flores Norte, Las Lomitas Street, Obras Libertador, Unicenter, Urquiza y Plaza San Martín.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed hover-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    ¿Cómo se abona la cuota?
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>En un Plan Mensual, el primer cargo en tu cuenta se genera al momento de tu alta y corresponde al primer mes de vigencia de tu Plan. La vigencia se renueva de forma automática cada mes el mismo día en el que te diste de alta.</p>
                    <p>El Plan Anual se paga una única vez y el monto será distribuido en el número de cuotas que selecciones al momento de realizar la compra.</p>
                </div>
            </div>
        </div>
    </div>
</div>
